.clearfix,
.clear {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.clear:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #f0f0f0;
  border-bottom: 5px solid #071400;
}
a {
  color: #5bb75b;
}
a:hover {
  color: #444;
  text-decoration: none;
}
::selection {
  background: #15522E;
  color: #fff;
}
::-moz-selection {
  background: #15522E;
  color: #fff;
}
.colorWhite {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#main {
  background: url(../../images/gren.png) 0 0 repeat #B1F6CB;
}
#sidebar-a,
#sidebar-b,
#sidebar-c,
#mainbody {
  background: #f0f0f0;
}
#utility {
  background: url(../../images/backgrounds/mask2.png) no-repeat #0e2504;
  background-position: center top;
}
.button,
.readon,
.readmore,
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #3f8f49;
  background-image: -moz-linear-gradient(top,#5bb75b,#15522E);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bb75b),to(#15522E));
  background-image: -webkit-linear-gradient(top,#5bb75b,#15522E);
  background-image: -o-linear-gradient(top,#5bb75b,#15522E);
  background-image: linear-gradient(to bottom,#5bb75b,#15522E);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb75b', endColorstr='#ff15522e', GradientType=0);
  border-color: #15522E #15522E #05150c;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border: 1px solid #5bb75b;
}
.button:hover,
.readon:hover,
.readmore:hover,
.btn-primary:hover {
  background: #213813;
}
#roof {
  background: url(../../images/backgrounds/noise.png) repeat 0 0 #0c2401;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#roof a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#header-wrap {
  background: #0c2401 url(../../images/backgrounds/greenhed.jpg) repeat 0 0;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
#footer-wrap {
  background: #1C1C1C;
  padding: 5px;
  border-top: 1px solid #CDC0B0;
  color: #b5b5b5;
}
#footer-wrap .title span {
  color: #15522E;
}
#bottom {
  background: #15260B;
  color: #fff;
}
.ex-menu {
  background: #0c2401;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-bottom: 2px solid #000;
}
.ex-menu .dropdown {
  background: #0c2401;
}
#mod-finder-searchform button.finder {
  background-color: #15522E;
}
.nav-list .active > a,
.nav-list .active:hover > a,
.nav-list > li > a:hover {
  border-color: #15522E;
}
.title span {
  color: #2D6314;
}
